/target
models/
!models/model.meta
!models/model.safetensors
!models/R_100_40_10_B260_ST_1/model.meta
!models/R_100_40_10_B260_ST_1/model.safetensors
!models/C_100_40_10_H34_ST_100/model.meta
!models/C_100_40_10_H34_ST_100/model.safetensors
!models/C_100_40_10_H34_RN_100/model.meta
!models/C_100_40_10_H34_RN_100/model.safetensors
/charts
/checkpoint.safetensors
/test_data/4*.wav